@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --violet-50: #f5f3ff;
    --violet-100: #ede9fe;
    --violet-200: #ddd6fe;
    --violet-300: #c4b5fd;
    --violet-400: #a78bfa;
    --violet-500: #8b5cf6;
    --violet-600: #7c3aed;
    --violet-700: #6d28d9;
    --violet-800: #5b21b6;
    --violet-900: #4c1d95;
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    background-color: var(--violet-700);
    color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.heading {
    padding: 2rem 0;
    margin-top: 0;
    border-top: 0;
    
}

.container {
    text-align: center;

    max-width: 1000px;
    margin: auto;
}

.description {
    font-size: 1.125rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.input-div {
    max-width: 650px;
    margin: auto;
    padding: 1rem;
    box-shadow: 10px 10px 20px 10px lightgrey;
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    
}

#bill-amount,
#cash-given {
    display: block;
    margin: 0.5rem auto 1rem auto;
    width: 300px;
    height: 30px;
}

.check-button {
    font-size: 1rem;
    border-radius: 0;
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--violet-600);
    border: 0;
    margin: 1rem;
}

.check-button:hover,
.check-button:focus {
    font-weight: bold;
    background-color: var(--violet-700);

}

.change-table {
    /* outline: 2px solid black; */
    margin: auto;
    padding: 1rem 1rem;
}

.change-table caption {
    padding: 0rem 1rem;
    /* outline: 2px solid black; */
    border: 0;
    margin: 0;
}

th {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--violet-200);
}

td {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--violet-100);
}

tr {
    margin-top: 0;
    border-top: 0;
    /* outline: 2px solid black; */
}

@media(max-width:650px){

    h1 {
        font-size: 1.75rem;
     }
    .description {
        margin: 0.5rem 1rem;
        font-size: 1.1rem;
    }

    .input-div {
        margin: 0.5rem 1rem;
    }

    table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    tbody {
          display: flex;
          flex-direction: row;
      }
    tr {
          display: flex;
          flex-direction: column;
          align-items: stretch;
      }

    th, td {
        min-height: 1.5rem;
    }
}